{{ define "main" }}

<img src="https://ckefgisc.org/static/media/cover.9be54767a5975b5891ac.png" alt="ckefgisc">

<h1>關於建北電資</h1>

<img src="/chicken.png" style="width: 50%;" />

<blockquote>
    建北電資是個溫暖的大家庭
</blockquote>
<p>
建電與北資自 1995 年合併，至今已傳承至 29 屆，並合稱建北電資， 也因為如此，雙方也培養出了許多情感<del>或愛情 </del>，並且兩社合作密切，不只是春夏秋冬的大活動，連放學的小社課也都是一起舉辦的。<br>
如果你覺得女校或男校的生活太無聊， 建北電資會告訴你什麼叫把男女分校當成男女混校，我們常常一起出去社遊， 也常常會聽到有北資的說，ㄟ要不要去建電社辦，諸如此類。 在常人來看，建北電資根本就是同一個社團。  
</p>

<h2>關於建中電研 ── 建國中學電子計算機研習社</h2>

<img src="/ckeisc_mouse.png" style="width: 25%;" />

<p>
建國中學電子計算機研習社（簡稱建中電研、建電）創社於民國 69 年，現今已有 44 年的歷史，現任社師為潘威歷老師。 大社課由幹部教授 C++，並鼓勵社員參與競賽和檢定。 放學的小社課秉持一直以來的多元化傳統，有許多不同面向的資訊課程， 也和北一女中資訊研習社有密切的合作關係，會共同籌辦活動維繫感情，放學的小社課也會和北一女中的學生一起上課
</p>

<h2>關於北一資研 ── 北一女中資訊研習社</h2>

<img src="/fgisc_star.png" style="width: 25%;" />

<p>
北一女中資訊研習社創社（簡稱北一資研、北資）於民國 76 年 11 月 11 日，現任社師為何雪臻老師。 有屬於我們社團獨自的 BBS 站 ── 弗基斯特 ， 大社課教授C++，並鼓勵社員參與競賽，歷屆許多表現十分優異學姊。 中午和放學的額社秉持一直以來的多元化傳統，致力提升校內資訊風氣，也有各式活動聯絡彼此感情
</p>
{{ end }}
